# Install Pandas

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\miniconda3\lib\site-packages (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\miniconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\hp\miniconda3\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\miniconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Membuat DataFrame

In [3]:
import pandas as pd

#Membuat DataFrame
data = {'Nama': ['Ayu', 'Budi', 'Citra'],
	'Umur': [21, 22, 20],
	'Kota' : ['Jakarta', 'Surabaya', 'Bandung']}

df = pd.DataFrame(data)
print(df)

    Nama  Umur      Kota
0    Ayu    21   Jakarta
1   Budi    22  Surabaya
2  Citra    20   Bandung

# Eksplorasi Data

In [5]:
#Melihat 5 baris pertama
print(df.head())

    Nama  Umur      Kota
0    Ayu    21   Jakarta
1   Budi    22  Surabaya
2  Citra    20   Bandung

In [6]:
#Informasi umum data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nama    3 non-null      object
 1   Umur    3 non-null      int64
 2   Kota    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

In [9]:
#Statistik deskriptif
print(df.describe())

       Umur
count   3.0
mean   21.0
std     1.0
min    20.0
25%    20.5
50%    21.0
75%    21.5
max    22.0

# Manipulasi Data

In [11]:
#Akses kolom ‘Nama’
print(df['Nama'])

#Filter: Data dengan umur > 20
filtered = df[df['Umur'] > 20]
print(filtered)

0      Ayu
1     Budi
2    Citra
Name: Nama, dtype: object
   Nama  Umur      Kota
0   Ayu    21   Jakarta
1  Budi    22  Surabaya

# Challenge

Buat DataFrame sederhana yang memmuat data favoritmu (contoh: daftar buku, film, atau makanan)
Gunakan fungsi Pandas untuk:
- Melihat data menggunakan ```.head()``` dan ```.info()```
- Menampilkan statistik deskriptif dengan ```.describe()```
- Melakukan filter data berdasarkan satu kondisi, lalu tampilkan hasilnya

In [14]:
import pandas as pd

data = {
		'Judul' : ['The Alchemist', 'Inception', 'Nasi Goreng', 'The Dark Knight', 'Sushi'],
		'Kategori': ['Buku', 'Film', 'Makanan', 'Film', 'Makanan'],
		'Rating': [9.0, 8.8, 9.5, 9.1, 8.6]
		}
df = pd.DataFrame(data)

#Menampilkan data 5 baris pertama
print(df.head())

#Menampilkan informasi struktur data
print(df.info())

#Menampilkan statistik deskriptif
print(df.describe())

#Filter data berdasarkan kondisi rating > 9.0
filtered_df = df[df['Rating'] > 9.0]
print(filtered_df)

             Judul Kategori  Rating
0    The Alchemist     Buku     9.0
1        Inception     Film     8.8
2      Nasi Goreng  Makanan     9.5
3  The Dark Knight     Film     9.1
4            Sushi  Makanan     8.6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Judul     5 non-null      object
 1   Kategori  5 non-null      object
 2   Rating    5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 248.0+ bytes
None
         Rating
count  5.000000
mean   9.000000
std    0.339116
min    8.600000
25%    8.800000
50%    9.000000
75%    9.100000
max    9.500000
             Judul Kategori  Rating
2      Nasi Goreng  Makanan     9.5
3  The Dark Knight     Film     9.1