In [5]:
import pandas as pd

data = {
    'Nama': ['Ayu', 'Budi', 'Citra', 'Dedi', 'Eka', 'Ayu', 'Fani', None, 'Indah', 'Joko'],
    'Nilai': [78, 85, 62, None, 88, 78, None, 90, 85, 81],
    'Kelas': ['A', 'B', 'A', 'B', 'A', 'A', None, 'B', 'B', 'A']
}
df = pd.DataFrame(data)
print("Dataset Asli:\n", df)

Dataset Asli:
     Nama  Nilai Kelas
0    Ayu   78.0     A
1   Budi   85.0     B
2  Citra   62.0     A
3   Dedi    NaN     B
4    Eka   88.0     A
5    Ayu   78.0     A
6   Fani    NaN  None
7   None   90.0     B
8  Indah   85.0     B
9   Joko   81.0     A

In [6]:
print("\n=== Missing Values ===")
print(df.isnull().sum())

=== Missing Values ===
Nama     1
Nilai    2
Kelas    1
dtype: int64

In [7]:
df_cleaned = df.dropna()
print("\nDataset setelah Menghapus Missing Values:\n", df_cleaned)

df['Nilai'] = df['Nilai'].fillna(df['Nilai'].mean())
df['Kelas'] = df['Kelas'].fillna('Tidak Ada')
print("\nDataset setelah Imputasi Missing Values:\n", df)

Dataset setelah Menghapus Missing Values:
     Nama  Nilai Kelas
0    Ayu   78.0     A
1   Budi   85.0     B
2  Citra   62.0     A
4    Eka   88.0     A
5    Ayu   78.0     A
8  Indah   85.0     B
9   Joko   81.0     A

Dataset setelah Imputasi Missing Values:
     Nama   Nilai      Kelas
0    Ayu  78.000          A
1   Budi  85.000          B
2  Citra  62.000          A
3   Dedi  80.875          B
4    Eka  88.000          A
5    Ayu  78.000          A
6   Fani  80.875  Tidak Ada
7   None  90.000          B
8  Indah  85.000          B
9   Joko  81.000          A

In [8]:
print("\n=== Data Duplikat ===")
print(df[df.duplicated()])

=== Data Duplikat ===
  Nama  Nilai Kelas
5  Ayu   78.0     A

In [10]:
df = df.drop_duplicates()
print("\nDataset setelah Menghapus Duplikat:\n", df)

Dataset setelah Menghapus Duplikat:
     Nama   Nilai      Kelas
0    Ayu  78.000          A
1   Budi  85.000          B
2  Citra  62.000          A
3   Dedi  80.875          B
4    Eka  88.000          A
6   Fani  80.875  Tidak Ada
7   None  90.000          B
8  Indah  85.000          B
9   Joko  81.000          A

In [11]:
print("\nValidasi Data:")
print("Jumlah missing values per kolom:\n", df.isnull().sum())
print("Jumlah baris duplikat:", df.duplicated().sum())

Validasi Data:
Jumlah missing values per kolom:
 Nama     1
Nilai    0
Kelas    0
dtype: int64
Jumlah baris duplikat: 0