# Install Library

In [1]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\hp\miniconda3\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\hp\miniconda3\lib\site-packages (3.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\miniconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\hp\miniconda3\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\miniconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: et-xmlfile in c:\users\hp\miniconda3\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Membaca file CSV

In [2]:
import pandas as pd

df_csv = pd.read_csv('iris.csv')  # Ganti dengan path file CSV Anda
print(df_csv.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

# Membaca file Excel

In [4]:
import pandas as pd

df_excel = pd.read_excel('iris.xlsx')  # Ganti dengan path file Excel Anda
print(df_excel.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

# Menyimpan DataFrame ke CSV

In [5]:
df_csv.to_csv('output_data.csv', index=False)
print("Data berhasil disimpan ke output_data.csv")

Data berhasil disimpan ke output_data.csv

# Menyimpan DataFrame ke Excel

In [6]:
df_excel.to_excel('output_data.xlsx', index=False)
print("Data berhasil disimpan ke output_data.xlsx")

Data berhasil disimpan ke output_data.xlsx

# Menyimpan DataFrame ke JSON

In [7]:
df_csv.to_json('output_data.json', orient='records')
print("Data berhasil disimpan ke output_data.json")

Data berhasil disimpan ke output_data.json

# Eksplorasi Data

## Menampilkan Informasi Dataset

In [8]:
print("\n=== Informasi Dataset CSV ===")
print(df_csv.info())

=== Informasi Dataset CSV ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

## Melihat Statistik Dasar